<div class="content-wrapper">
  <!-- Small boxes (Stat box) -->
  <section class="content-header">
    <h1>{{ this.title}}</h1>
    <ol class="breadcrumb">
      <li><a routerLink="/user">User Management</a></li>
      <li class="active">{{ this.title}}</li>
    </ol>
  </section>

  <section class="content">

    <div class="box box-primary">
      <!-- /.box-header -->
      <!-- form start -->

      <form #userForm="ngForm" (ngSubmit)="saveUserDetails(userForm, user)">
        <div class="box-body">
          <div class="form-group">
            <label for="exampleInputEmail1">First name<span class="astric">*</span></label>
            <input type="text" id="name" name="userfirstName" [(ngModel)]="user.firstName" class="form-control" name="firstName" #firstName="ngModel"
              required/>
            <div *ngIf="firstName.errors?.required && userForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
              First name required.
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Last name<span class="astric">*</span></label>
            <input type="text" id="lastName" name="userlastName" [(ngModel)]="user.lastName" class="form-control" name="name" #lastName="ngModel"
              required/>
            <div *ngIf="lastName.errors?.required && userForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
              Last name required.
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email<span class="astric">*</span></label>
            <input type="email" class="form-control" [disabled]="!editEmail" id="email" required name="email" [(ngModel)]="user.email" #email="ngModel" pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$">
            <div *ngIf="email.errors && (email.dirty || email.touched)" class="has-error">
              <div [hidden]="!email.errors.required">
                Email is required!
              </div>
              <div [hidden]="!email.errors.pattern">
                Please enter a valid email!
              </div>
            </div>

          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Phone Number<span class="astric">*</span></label>

            <input type="text" (blur)="onBlur(user.mobile)" class="form_fields form-control" id="mobilenumber" required [(ngModel)]="user.mobile"
              name="mobilenumber" pattern="'^[0-9]*$'" minlength="10" maxlength="10" #mobile="ngModel" (keypress)="keyPress($event)">
            <div *ngIf="showSelected" class="alert alert-danger">
              <span [hidden]="!showSelected">Contact number should be 10 digit</span>
              <div [hidden]="!phoneempty">Contact number is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Role<span class="astric">*</span></label>
            <select class="form-control" name="selectedRoles" [disabled]="user.email == 'superadmin@gmail.com'" [(ngModel)]="user.roleId" id="role" required #selectedRoles="ngModel">
                          <option value="">Select Role</option>
                          <option *ngFor="let role of roles" [disabled]="role.name == 'admin'" [value]="role.id">{{role.name}}</option>
                        </select>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Country<span class="astric">*</span></label>
            <select class="form-control" name="countryId" [(ngModel)]="user.countryId" id="country" (change)="getStatesList();" required
              #countryId="ngModel">
                        <option value="">Select Country</option>
                        <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
                      </select>
            <div *ngIf="countryId.errors?.required && userForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
              Country required.
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">State<span class="astric">*</span></label>
            <select class="form-control" name="stateId" [(ngModel)]="user.stateId" id="state" (change)="getCitiesList();" required
              #stateId="ngModel">
                        <option value="">Select State</option>
                        <option *ngFor="let state of states" [value]="state.id">{{state.name}}
        
                        </option>
                      </select>
            <div *ngIf="stateId.errors?.required && userForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
              State required.
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">City<span class="astric">*</span></label>
            <select class="form-control" name="cityId" [(ngModel)]="user.cityId" id="city" required #cityId="ngModel">
                        <option value="">Select City</option>
                        <option *ngFor="let role of cities" [value]="role.id" >{{role.name}}
        
                        </option>
                      </select>
            <div *ngIf="cityId.errors?.required && userForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
              City required.
            </div>
          </div>


        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <a class="btn btn-default" routerLink="/user">Cancel</a>
          <button class="btn btn-primary" type="submit" [disabled]="!user.firstName||!user.countryId||!user.stateId||!user.cityId||!user.mobile||!user.lastName">{{this.buttonTitle}}</button>
        </div>
      </form>
    </div>
    <div *ngIf="showLoader" class="fa fa-spinner fa-spin" style="font-size:50px;text-align: center;
        position: absolute;top: 50%;left: 50%;"></div>
  </section>
  <!-- /.row (main row) -->
</div>