<div class="content-wrapper">
    <!-- Small boxes (Stat box) -->
    <section class="content-header">

        <div class="row">
            <div class="col-md-6">
                <h3 style="margin-top:0;">User</h3>
            </div>
            <div class="col-md-6">
                <a [routerLink]="['add']" class="btn btn-primary" style="float:right;">Add User</a>
            </div>
        </div>
        <h4>Total {{count}} users are available.</h4>


    </section>

    <section class="content">

        <div class="box table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th (click)="sort('id')" width="11%">ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <th width="11%">
                        <input [(ngModel)]="id" placeholder="search id" class="form-control" (keyup)="searchTerm(id)">
                    </th>
                    <th>
                        <input [(ngModel)]="userName" placeholder="search name..." class="form-control" (keyup)="searchTerm(userName)">
                    </th>
                    <th>
                        <input [(ngModel)]="email" placeholder="search email..." class="form-control" (keyup)="searchTerm(email)">
                    </th>
                    <th>
                        <input [(ngModel)]="mobile" placeholder="search phone..." class="form-control" (keyup)="searchTerm(mobile)">
                    </th>
                    <th></th>
                </tr>

                <tr *ngFor="let x of users | filter:filter ; let i = index">
                    <td width="11%">
                        {{x.id}}
                    </td>
                    <td>{{x.firstName}}&nbsp;{{x.lastName}}</td>
                    <td>{{x.email}}</td>
                    <td>{{x.mobile}}</td>
                    <td class="text-center">
                        <label class="switch">
                            <input type="checkbox"  [(ngModel)]="x.isActive" checked="x.isActive" (change)="onChange($event, x.id)">
                            <span class="slider round"></span>
                        </label>
                        <!-- <ui-switch [(ngModel)]="x.isActive" defaultBgColor="red" (change)="onChange($event, x.id)"></ui-switch> -->
                        <a title="Edit" [routerLink]="['edit', x.id]">
                            <i class="fa fa-pencil" style="font-size:20px; color:black"></i>
                        </a>
                        <span>
                            <delete-confirm title="Delete" [question]="'Are you sure you want to delete?'" (onConfirm)="sendDelete($event,x)" (onCancel)="sendCancel($event)"></delete-confirm>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="showLoader" class="fa fa-spinner fa-spin" style="font-size:50px;text-align: center;
      position: absolute;top: 50%;left: 50%;"></div>
    </section>
    <!-- /.row (main row) -->
</div>