<div class="content-wrapper">
  <!-- Small boxes (Stat box) -->
  <section class="content-header">
   
      <div class="row">
          <div class="col-md-6">
              <h3 style="margin-top:0;">User</h3>
          </div>
          <div class="col-md-6">
              <a [routerLink]="['add']" class="btn btn-primary" style="float:right;">Add User</a>
          </div>
      </div>
      <h4>Total {{count}} users are available.</h4>


  </section>

  <section class="content">

      <div class="box table-responsive">
          <table class="table table-bordered">
              <tr>
                  <th (click)="sort('id')" width="11%">ID</th>
                  <th>User Name</th>
                  <th>Username</th>
                  <th class="text-center">Status</th>
                  <th>Action</th>
              </tr>
              <tr>
                  <th width="11%">
                      <input [(ngModel)]="id" placeholder="search id" class="form-control" (keyup)="searchTerm(id)">
                  </th>
                  <th></th>
                  <th>
                      <input [(ngModel)]="productName" placeholder="search product title..." class="form-control" (keyup)="searchTerm(productName)">
                  </th>
                  <th></th>
                  <th></th>
              </tr>

              <tr *ngFor="let x of product | filter:filter ; let i = index">
                  <td width="11%">
                      {{x.id}}
                  </td>
                  <td>{{x.userName}}</td>
                  <td>{{x.category.name}}</td>
                  <td class="text-center">
                      <div *ngIf="x.isActive === true">Active</div>
                      <div *ngIf="x.isActive === false">Inactive</div>
                  </td>
                  <td class="text-center action">
                      <a title="Edit" [routerLink]="['edit', x.id]">
                          <i class="fa fa-pencil" style="font-size:20px; color:black"></i>
                      </a>
                      <!-- <a title="Delete" class="ml10" (click)="delUser(x.id)" ><i class="fa fa-trash-o" style="font-size:24px; color:black"></i></a> -->
                      <span>
                          <delete-confirm title="Delete" [question]="'Are you sure you want to delete?'" (onConfirm)="sendDelete($event,x.id)" (onCancel)="sendCancel($event)"></delete-confirm>
                      </span>
                  </td>
              </tr>

          </table>
      </div>
      <div *ngIf="showLoader" class="fa fa-spinner fa-spin" style="font-size:50px;text-align: center;
      position: absolute;top: 50%;left: 50%;"></div>
  </section>
  <!-- /.row (main row) -->
</div>