<div class="content-wrapper">
  <!-- Small boxes (Stat box) -->
  <section class="content-header">
    <h1>{{ this.title}}</h1>
    <ol class="breadcrumb">
      <li><a routerLink="/roles">Role Management</a></li>
      <li class="active">{{this.title}}</li>
    </ol>
  </section>

  <section class="content">

    <div class="box box-primary">
      <!-- /.box-header -->
      <!-- form start -->

      <form #roleForm="ngForm" (ngSubmit)="addRole(roleForm)">
        <div class="box-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Role Name<span class="astric">*</span></label>
            <input type="text" id="name" [disabled]="role.name == 'admin' || role.name == 'Admin'" name="rolefirstName" [(ngModel)]="role.name" class="form-control" name="name" #name="ngModel"
              required/>
            <div *ngIf="name.errors?.required && roleForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
              Role Name is required.
            </div>
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <a class="btn btn-default" routerLink="/roles">Cancel</a>
          <button class="btn btn-primary" type="submit" [disabled]="!role.name">{{this.buttonTitle}}</button>
        </div>
      </form>
    </div>
    <div *ngIf="showLoader" class="fa fa-spinner fa-spin" style="font-size:50px;text-align: center;
        position: absolute;top: 50%;left: 50%;"></div>
  </section>
  <!-- /.row (main row) -->
</div>