
<div class="content-wrapper">
  
 <!-- Main content -->
  <section class="content-header">
    <!-- Small boxes (Stat box) -->
   
    <h1>
      Dashboard
 
  </h1>
 
  </section>
  <section class="content">
    <div class="row-dashboard">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
              
  
              <!-- <div class="info-box-content"> -->
                  <a routerLink="/hochiki"><img src="assets/images/logo1.png" class="widthSet" ></a><hr>
                <a routerLink="/hochiki"><span class="info-box-number">{{counthochiki}} products</span></a>
                
              <!-- </div> -->
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
               
    
                <!-- <div class="info-box-content"> -->
                    <a routerLink="/supression"><img src="assets/images/logo2.png" class="widthSet"></a><hr>
                    <a routerLink="/supression"><span class="info-box-number">{{count}} products</span></a>
                <!-- </div> -->
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
      
                  <!-- <div class="info-box-content"> -->
                      <a routerLink="/ves"><img src="assets/images/logo3.png" class="widthSet"></a><hr>
                      <a routerLink="/ves"><span class="info-box-number">{{countves}} products</span></a>
                  <!-- </div> -->
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
      
                  <!-- <div class="info-box-content"> -->
                      <a routerLink="/ves"><img src="assets/images/logo3.png" class="widthSet"></a><hr>
                      <a routerLink="/ves"><span class="info-box-number">{{countKent}} products</span></a>
                  <!-- </div> -->
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>

       

        <!-- ./col -->
      </div>
      <div class="loader-div" *ngIf="showLoader">
          <div class="fa fa-spinner fa-spin"></div>
      </div>
  </section>
  <!-- /.content -->
</div>
