.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.box.box-default.key {
    border-top-color: #d2d6de;
    /* height: 600px; */
    height:150px;
}
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
}
.side {
    background-color: white;
}