.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.box.box-default.key {
    border-top-color: #d2d6de;
    padding: 25px;
    /* height: 600px; */
    height:150px;
}