<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li [routerLinkActive]="['active']" class="treeview">
        <a routerLink="/dashboard"> <i class="fa fa-dashboard"></i><span class="pl10">Dashboard</span></a>
      </li>
      <li [routerLinkActive]="['active']" class="treeview">
        <a routerLink="/category"><i class="fa fa-database"></i>
          <span class="pl10">Category</span>
        </a>
      </li>
      <li [routerLinkActive]="['active']" class="treeview">
        <a routerLink="/product"> <i class="fa fa-archive"></i><span class="pl10">Product</span></a>
      </li>
      <li [routerLinkActive]="['active']" class="treeview">
        <a routerLink="/user"> <i class="fa fa-user"></i><span class="pl10">User Management</span></a>
      </li>
      <li [routerLinkActive]="['active']" class="treeview">
        <a routerLink="/roles"> <i class="fa fa-cubes"></i><span class="pl10"> Role Management</span></a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>