.skin-blue .sidebar-menu > li> a{
    color: #ffffff;
    background: black;
}
.skin-blue .sidebar a:hover {
    text-decoration: none;
    color: #1baed6;
}
.skin-blue .sidebar-menu > li > a, .skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li.menu-open > a {
    color: #ffffff;
    background: #1e282c;
}
.adminstyle {
    margin: 11px 0 10px;
    color: black;
}
.pl10{
    padding-left: 10px;
}
.fa{
    color: black;
}

