.box.box-default.trafic {
    border-top-color: #d2d6de;
    height: 320px;
}
.box.box-default.key {
    border-top-color: #d2d6de;
    /* height: 600px; */
    height:300px;
}
.btn-group .pull-right{
    padding-left: 813px;
    
}
.textsize{
    font-size: 25px;
}
.breadcrumbs{
    float:right;
}
.ButtonState{display:none}
.Button{padding: 6px; margin:0 -2px; background:#fff; border:1px solid rgb(179, 174, 174); cursor:pointer; font-size: 12px;}
.ButtonState:checked + .Button{background:#CCC;}
td{
    height: 88px;
    padding: 25px;
    
}
.table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 25px;
   
}
.pl0 { padding-left: 798px; }

.pl2 { padding-left: 0px; }
.pl3 {  padding-left: 164px; }

.pr10 {padding-left: 0px;}

.mtb7 {
    margin: 7px 0;
}
 
.inline-block {
    display: inline-block;
}

@media (min-width: 992px)
{
    .w6 {width: 7%;}
    
}
@media (min-width: 992px)
{
    .w16 {
        width: 34.666667%;
    }
    .p0 {padding-left: 0px;
        width: 34.666667%;
    } 
}
.cg{
    color:rgb(212, 208, 208);
}