.box.box-default.trafic {
    border-top-color: #d2d6de;
    height: 300px;
}
.box.box-default.key {
    border-top-color: #d2d6de;
    /* height: 600px; */
    height:300px;
}
.btn-group .pull-right{
    padding-left: 813px;
}
.textsize{
    font-size: 30px;
}
.breadcrumbs{
    float:right;
}
.ButtonState{display:none}
.Button{padding: 6px; margin: -2px; background:#fff; border:1px solid rgb(179, 174, 174); cursor:pointer;}
.ButtonState:checked + .Button{background:#CCC;}
td{
    height: 88px;
    padding: 30px;
    
}
.table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 33px;
   
}
.pl0 { padding-left: 798px; }

.pl2 { padding-left: 0px; }
.pl3 { padding-left: 20px; }
