

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Hochiki - Audience Overview

    </h1>


  </section>


  <!-- Main content -->
  <section class="content">
    <div class="box box-default trafic ">

      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <!-- <div class="col-md-5"> -->
                <div class="form-group inline-block">
                  <select [(ngModel)]='currentTab' class="form-control" (ngModelChange)="getDetailsfirst($event)">
                    <option *ngFor="let metric of matrics" selected="currentTab == metric.id" [value]="metric.id">
                      {{metric.value}}
                    </option>
                  </select>
                </div>
                <div class="inline-block">Vs.</div>
                <div class="form-group inline-block">
                  <select [(ngModel)]='currentTab2' class="form-control" (ngModelChange)="getDetailssecond($event)">

                    <option [value]=" " selected="currentTab2 == metric2.id">Select a metrics</option>

                    <option *ngFor="let metric2 of matrics2" selected="currentTab2 == metric2.id" [value]="metric2.id">
                      {{metric2.value}}
                    </option>
                  </select>
                </div>
                <!-- </div> -->

              </div>
              <div class="col-md-6">
                  <div class="row">
                      <div class="col-md-6 col-md-offset-6 text-right">
                          <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 0px; border-bottom: 1px solid rgb(212, 208, 208); width:auto; display: inline-block;">
                              <!-- <i class="fa fa-calendar"></i>&nbsp; -->
                              <span></span> <i class="fa fa-caret-down cg"></i>
                          </div>
                      </div>
                    </div>

                

                <!-- <div id="daterange-picker-container">
                </div> -->


                <!-- <form #myForm="ngForm" novalidate>
                          <my-date-range-picker [options]="myDateRangePickerOptions" placeholder="Select date range" (dateRangeChanged)="onDateRangeChanged($event)" 
                            (dateSelected)="onDateSelected($event)" date-format="dd MMM yyyy"
                            selDateRange={{selectedIntialDates}}></my-date-range-picker>                
                      </form> -->
              </div>
            </div>

          </div>
          <div class="col-md-12">

            <div class="row">
              <div class="col-md-6">
                   <div class="inline-block dot1"></div>
                  <div class="inline-block" style="padding-right: 25px;">{{legend1}}</div>
                   
                   <div class="inline-block dot2" *ngIf="currentTab2 !== 'Select a metrics'"></div>   
                   <div class="inline-block" *ngIf="currentTab2 !== 'Select a metrics'">{{legend2}}</div>           
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6 col-md-offset-6 text-right">
                    <div class="btn-group">
                      <!-- <button type="button" class="btn btn-default"   (click)="showdimension('ga:date');">Day</button>
                                <button type="button" class="btn btn-default" (click)="showdimension('ga:week');">Week</button>
                                <button type="button" class="btn btn-default" (click)="showdimension('ga:month');">Month</button> -->
                      <input type="radio" name="Button" class="ButtonState" checked id="Button1" value="1" />
                      <label class="Button" for="Button1" (click)="showdimension('ga:date');">Day</label>
                      <input type="radio" name="Button" class="ButtonState" id="Button2" value="2" />
                      <!-- <button class="Button" name="Button" class="ButtonState"  [disabled]="buttonDisabled"  id="Button2" value="2">Week</button> -->
                      <label class="Button" for="Button2" (click)="showdimension('ga:week');">Week</label>
                      <input type="radio" name="Button" class="ButtonState" id="Button3" value="3" />
                      <label class="Button" for="Button3" (click)="showdimension('ga:month');">Month</label>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <google-chart [data]="lineChartData" #cchart (chartSelect)="select($event)" options="{'hAxis.gridlines' : false,'hAxis.viewWindow'  : false}"></google-chart>
          </div>
          <!-- /.col -->

          <!-- /.col -->
        </div>

        <!-- /.row -->
      </div>
      <!-- /.box-body -->

    </div>
    <div class="box box-default key">

      <!-- /.box-header -->

      <!-- /.box-body -->

      <table class="table table-bordered">
        <tr>
          <td>Sessions:
            <br>
            <b class="textsize">{{sessionTotal}}</b>
          </td>
          <td>
            Users:
            <br>
            <b class="textsize">{{usersTotal}}</b>
          </td>
          <td>
            Avg.Session Duration:
            <br>
            <b class="textsize">{{totalSessionUsers }} </b>
          </td>
          <td>Bounce Rate:
            <br>
            <b class="textsize">{{bouncesTotalround }}%</b>
          </td>
        </tr>
        <tr>
          <td>Pageviews:
            <br>
            <b class="textsize">{{pageViewTotal}} </b>
          </td>
          <td>Pages/Session:
            <br>
            <b class="textsize">{{pagevssessionsTotalRound}}</b>
          </td>
          <td>Number of Sessions per User:
            <br>
            <b class="textsize">{{persessionsTotal }}</b>
          </td>
          <td style = "padding:0px">
            <!-- <form target="_blank">
            <input class="MyButton" type="button" target="_blank" value="View User Explorer" onclick="window.location.href='http://www.hyperlinkcode.com/button-links.php'" />
            </form> -->
            <a href="https://analytics.google.com/analytics/web/#/report/visitors-legacy-user-id/a121170303w179024821p177426717/_u.date00=20180506&_u.date01=20180524" target="_blank">View User Explorer</a>
          </td>
        </tr>

      </table>



    </div>
    <div *ngIf="showLoader" class="fa fa-spinner fa-spin" style="font-size:50px;text-align: center;
          position: absolute;top: 50%;left: 50%;"></div>
  </section>
  <!-- /.content -->
</div>