<header class="main-header">
  <!-- Logo -->
  <a class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><img src=" assets/images/favicon-32x32.png"></span>

    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><img src="assets/images/logo_dashborad.png" class="logologo"></span>

  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span> </a>


    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">


        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="hidden-xs" >ADMIN</span> 
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
             
              <h2 id="rcorners1">{{first}} {{last}}</h2>
              

              <p style="color:black">
                Admin

              </p>
            </li>
            <!-- Menu Body -->

            <!-- Menu Footer-->
            <li class="user-footer">

              <div class="pull-right">
                <a href="javascript:void(0)" (click)="logOut()" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->

      </ul>

    </div>
  </nav>


</header>
<!-- user's messages -->
<div class="alert alert-success" id="success-alert-user" style=" opacity: 0;
display: block;
position: absolute;
right: 10px;
top: 10px;">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Success! </strong> User has been added successfully.
</div>
<div class="alert alert-success" id="success-alert-user-updated" style=" opacity: 0;
display: block;
position: absolute;
right: 10px;
top: 10px;">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Success! </strong> User's detail has been updated.
</div>
<div class="alert alert-success" id="success-alert-status" style=" opacity: 0;
display: block;
position: absolute;
right: 10px;
top: 10px;">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Success! </strong> User's status has been updated.
</div>
<div class="alert alert-error" id="error-alert-user-delete" style=" opacity: 0;
display: block;
position: fixed;
right: 10px;

top: 10px;">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Deleted!</strong> User has been deleted.
</div>
<div class="alert alert-error" id="error-alert-user" style=" opacity: 0;
display: block;
position: fixed;
right: 10px;

top: 10px;">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Error!</strong> User already exist.
</div>

<!-- product message -->
<div class="alert alert-success" id="success-alert-prod" style=" opacity: 0;
display: block;
position: absolute;
right: 10px;
top: 10px;">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Success! </strong> Product has been added successfully.
</div>
<div class="alert alert-error" id="error-alert-prod" style=" opacity: 0;
display: block;
position: fixed;
right: 10px;

top: 10px;">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Error!</strong> Product already exist.
</div>
<div class="alert alert-success" id="updated-alert" style=" opacity: 0;
display: block;
position: absolute;
right: 10px;

top: 10px;">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Success!</strong> Product has been updated successfully.
</div>
<div class="alert alert-error" id="error-alert" style=" opacity: 0;
display: block;
position: fixed;
right: 10px;

top: 10px;">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Deleted!</strong> Product has been deleted.
</div>

<!-- role messages -->
<div class="alert alert-success" id="success-alert-role" style=" opacity: 0;
display: block;
position: absolute;
right: 10px;
top: 10px;">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Success! </strong> Role has been added successfully.
</div>
<div class="alert alert-success" id="updated-alert-role" style=" opacity: 0;
display: block;
position: absolute;
right: 10px;

top: 10px;">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Success!</strong> Role has been updated successfully.
</div>
<div class="alert alert-error" id="error-alert-role" style=" opacity: 0;
display: block;
position: fixed;
right: 10px;

top: 10px;">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Deleted!</strong> Role has been deleted.
</div>
<div class="alert alert-error" id="error-alert-role-state" style=" opacity: 0;
display: block;
position: fixed;
right: 10px;

top: 10px;">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Error!</strong> Role already exist.
</div>
<div class="alert alert-error" id="error-wrong-file" style=" opacity: 0;
display: block;
position: fixed;
right: 10px;

top: 10px;">
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Error!</strong> Please select valid file!
</div>