<div class="content-wrapper">
  <!-- Small boxes (Stat box) -->
  <section class="content-header">

    <div class="row">
      <div class="col-md-6">
        <h3 style="margin-top:0;">Role Management</h3>
      </div>
      <div class="col-md-6">
        <a [routerLink]="['add']" class="btn btn-primary" style="float:right;">Add Role</a>
      </div>
    </div>
    <h4>Total {{count}} roles are available.</h4>


  </section>

  <section class="content">

    <div class="box table-responsive">
      <table class="table table-bordered">
        <tr>
          <th (click)="sort('id')" width="11%">ID</th>
          <th>Name</th>
          <th class="text-center">Action</th>
        </tr>
        <tr>
          <th width="11%">
            <input [(ngModel)]="id" placeholder="search id" class="form-control" (keyup)="searchTerm(id)">
          </th>
          <th>
            <input [(ngModel)]="userName" placeholder="search name..." class="form-control" (keyup)="searchTerm(userName)">
          </th>
          <th></th>
        </tr>

        <tr *ngFor="let x of rolesList; let i = index">
          <td width="11%">
            {{x.id}}
          </td>
          <td>{{x.name}}</td>
          <td class="action-btn">
            <a title="Edit" [routerLink]="['edit', x.id]" class="btn btn-xs btn-primary">
                  <i class="fa fa-pencil"></i>
              </a>
            <span class="btn btn-xs btn-danger">
                  <delete-confirm title="Delete" [question]="'Are you sure you want to delete?'" (onConfirm)="sendDelete($event,x)" (onCancel)="sendCancel($event)"></delete-confirm>
              </span>
          </td>
        </tr>
      </table>
    </div>
    <div class="loader-div" *ngIf="showLoader">
      <div class="fa fa-spinner fa-spin"></div>
    </div>
  </section>
  <!-- /.row (main row) -->
</div>