<!-- <div class="hold-transition login-page"> -->
  


      <div class="login-box"*ngIf="!forgotpwd">
          <div class="login-logo">
              <img src="assets/images/login_logo.png">
            </div>
        <div class="login-cont">
        <!-- /.login-logo -->
        <div class="login-box-body">
          <p class="login-box-msg" ><b>Sign in to start</b></p>
          <div class="has-error" [hidden]="!errMessage">{{errMessage}}</div>
          <form action="" method="" novalidate>
            <div class="form-group has-feedback" [ngClass]="{'has-error': email.invalid && (email.dirty || email.touched),'has-success': email.valid && (email.dirty || email.touched) }">
              <input type="email" class="form-control" id="email" placeholder="Enter Email" required name="email" [(ngModel)]="model.email" #email="ngModel"
              pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$">
              <div *ngIf="email.errors && (email.dirty || email.touched)" class="has-error">
              <div [hidden]="!email.errors.required">
                Email is required!
              </div>
              <div [hidden]="!email.errors.pattern">
                Please enter a valid email!
              </div>
            </div>
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" [ngClass]="{'has-error': pwd.invalid && (pwd.dirty || pwd.touched),'has-success': pwd.valid && (pwd.dirty || pwd.touched) }">
              <input class="form-control" minlength="6"  type="password" placeholder="Password" id="pwd"  required name="pwd" [(ngModel)]="model.password" #pwd="ngModel" />
              <div *ngIf="pwd.errors && (pwd.dirty || pwd.touched)" class="has-error">
                <div [hidden]="!pwd.errors.required">
                  Password is required!
                </div>
                <div [hidden]="!pwd.errors.minlength">
                  Please enter a valid password!
                </div>
              </div>
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
              <div class="col-xs-8">
                <div class="checkbox icheck">
                  <label class="">
                    <a href="javascript:void(0)" (click)='forgotpwd = !forgotpwd'>I forgot my password</a><br>
                    <!-- <a href="javascript:void(0)" (click)='register = !register'>Register a new membership</a> -->
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-xs-4 text-center">
                <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="login(model)">Sign In</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
      
      </div>
        <!-- /.login-box-body -->
      </div>
      </div>

<!-- Forgot Password HTML ends -->
<div class="login-box" *ngIf="forgotpwd">
  <div class="login-logo">
    <img src="assets/images/login_logo.png">
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">You can reset your password here.</p>

    <form action="" method="post">
      <div class="form-group has-feedback" [ngClass]="{'has-error': email.invalid && (email.dirty || email.touched),'has-success': email.valid && (email.dirty || email.touched) }">
        <input type="email" class="form-control" id="email" placeholder="Enter Email" required name="email" [(ngModel)]="forgotmail" #email="ngModel"
        pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$">
        <div *ngIf="email.errors && (email.dirty || email.touched)" class="has-error">
        <div [hidden]="!email.errors.required">
          Email is required!
        </div>
        <div [hidden]="!email.errors.pattern">
          Please enter a valid email!
        </div>
      </div>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label class="">
              <!-- <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Remember Me -->
              <a href="javascript:void(0)"(click)='forgotpwd = !forgotpwd'>Back To Login</a><br>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4 text-center">
          <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="sentEmail()">Send In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
</div>
  <!-- /.login-box-body -->
</div>
<!-- </div>  -->
<div class="login-box"*ngIf="register">
    <div class="login-logo">
        <img src="assets/images/login_logo.png">
      </div>
  <div class="login-cont">
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg" ><b>Register</b></p>
    <div class="has-error" [hidden]="!errMessage">{{errMessage}}</div>
    <div class="register-box-body">
      <p class="login-box-msg">Register a new membership</p>
  
      <form action="../../index.html" method="post">
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="First name">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Last name">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Mobile number">
          <span class="glyphicon glyphicon-phone form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="State">
          <span class="glyphicon glyphicon-home form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="City">
          <span class="glyphicon glyphicon-home form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox icheck">
              <label class="">
                <!-- <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> Remember Me -->
                <a href="javascript:void(0)"(click)='register = !register'>Already I have account</a><br>
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4 text-center">
            <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="login()">Send In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
</div>
  <!-- /.login-box-body -->
</div>
</div>