<style>
  bootstrap-growl {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 10;
  }
</style>
<div class="content-wrapper">
  <!-- Small boxes (Stat box) -->
  <section class="content-header">
    <h1>Edit Product</h1>
    <ol class="breadcrumb">
      <li><a routerLink="/supression"><i class="fa fa-dashboard"></i> Hochiki Suppression</a></li>
      <li class="active">Edit Product</li>
    </ol>
  </section>

  <section class="content">

    <div class="box box-primary">
      <!-- <div class="box-header with-border">
            <h3 class="box-title">{{this.title}}</h3>
          </div> -->
      <!-- /.box-header -->
      <!-- form start -->
      <form #suppressionForm="ngForm" (ngSubmit)="saveCompanyDetails()">
        <div class="box-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Product Title<span class="astric">*</span></label>
            <input type="text" id="name" name="name" [(ngModel)]="company.productName" class="form-control" required pattern="[a-zA-Z][a-zA-Z ]+"
              name="name" #name="ngModel" />
            <!-- <input type="text" class="form-control" [(ngModel)]="name" placeholder="Enter email" required> -->
          </div>

          <div class="form-group">
            <label for="exampleInputFile">Product Image<span class="astric">*</span>(Accept only .png,.jpg)</label>
            <input type="file" name="file" [(ngModel)]="file" (change)="uploadImage($event)" accept=".png,.jpg" required />
            <img *ngIf="showpreview" style="padding-bottom:10px;" src="{{images}}" />

            <img *ngIf="showpreviewafterEdit" style="padding-bottom:10px;" src="{{company.image}}" />

          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Video Url<span class="astric">*</span></label>
            <!-- <input type="text" id="videoUrl" name="videoUrl" [(ngModel)]="product.videoUrl" class="form-control" name="videoUrl" #videoUrl="ngModel"
                                    pattern="^((https?|ftp)://)?([a-z]+[.])?[a  -z0-9-]+([.][a-z]{1,4}){1,2}(/.*)?$" required/> -->
            <input class="form-control" type="text" name="video" #videoUrl='ngModel' pattern="^((https?|ftp)://)?([a-z]+[.])?[a-z0-9-]+([.][a-z]{1,4}){1,2}(/.*)?$"
              [(ngModel)]="company.videoUrl">
            <!-- <div *ngIf="videoUrl.errors?.required && userForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
                                    Video Url required.
                                  </div> -->
            <div *ngIf="videoUrl.errors?.pattern && suppressionForm.submitted" [ngClass]="'error'">
              Please give proper url!
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputFile">Document<span class="astric">*</span>(Accept only .pdf,.doc,.docx)</label>
            <input type="file" name="documentName" [(ngModel)]="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx"
            />

            <a href="{{company.documentName}}" target="_blank">Read Document</a>

          </div>

        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <a class="btn btn-default" routerLink="/supression">Cancel</a>
          <!-- <button class="btn btn-primary">{{buttonTitle}}</button> -->
          <button class="btn btn-primary">{{this.buttonTitle}}</button>
        </div>
      </form>
    </div>
    <!-- <div class="alert alert-success">
          <strong>Success!</strong> Updated successfully
        </div> -->
  </section>
  <!-- /.row (main row) -->
</div>