<div class="content-wrapper">
  <!-- Small boxes (Stat box) -->
  <section class="content-header">
    <h1>{{ this.title}}</h1>
    <ol class="breadcrumb">
      <li><a routerLink="/product">Product</a></li>
      <li class="active">{{ this.title}}</li>
    </ol>
  </section>

  <section class="content">

    <div class="box box-primary">
      <!-- /.box-header -->
      <!-- form start -->

      <form #userForm="ngForm" (ngSubmit)="saveCompanyDetails(userForm)">
        <div class="box-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Product Title<span class="astric">*</span></label>
            <input type="text" id="name" name="productName" [(ngModel)]="product.productName" class="form-control" name="name" #productName="ngModel"
              required/>
            <div *ngIf="productName.errors?.required && userForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
              Product Title required.
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Category<span class="astric">*</span></label>
            <select class="form-control" name="selectedTechs" [(ngModel)]="product.category.id" id="name" (change)="selectName();" required
              #id="ngModel">
              <option value="">Select Category</option>
              <option *ngFor="let role of categories" [value]="role.id" [selected]="product.category.id == role.id">{{role.name}}</option>
            </select>
            <div *ngIf="id.errors?.required && userForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
              Category required.
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputFile">Product Image<span class="astric">*</span>(Accept only .png,.jpg)</label>
            <input type="file" name="image" [(ngModel)]="file" (change)="uploadImage($event)" accept=".png,.jpg" id="name" />
            <img *ngIf="showpreview" style="padding-bottom:10px;" src="{{images}}" />
            <img *ngIf="showpreviewafterEdit" style="padding-bottom:10px;" src="{{filePath}}/{{product.image}}" />
          </div>

          <div class="form-group">
            <label for="video"> Video Type </label>
            <div class="radio-box inline mt10">
              <input id="url" name="url" type="radio" [value]="0"  [(ngModel)]="product.isYoutube" #isYoutube="ngModel">
              <label for="url">YouTube URL</label>
            </div>

            <div class="radio-box inline mt10">
              <input id="mp4" name="mp4" type="radio" [value]="1"   [(ngModel)]="product.isYoutube" #isYoutube="ngModel">
              <label for="mp4">Upload Video</label>
            </div>
          </div>
        
          <div class="form-group" [hidden]="product.isYoutube !== 0">
            <label for="exampleInputEmail1">YouTube Url<span class="astric">*</span></label>
            <!-- <input type="text" id="videoUrl" name="videoUrl" [(ngModel)]="product.videoUrl" class="form-control" name="videoUrl" #videoUrl="ngModel"
              pattern="^((https?|ftp)://)?([a-z]+[.])?[a  -z0-9-]+([.][a-z]{1,4}){1,2}(/.*)?$" required/> -->
            <input class="form-control" type="text" name="video" #videoUrl='ngModel' pattern="^((https?|ftp)://)?([a-z]+[.])?[a-z0-9-]+([.][a-z]{1,4}){1,2}(/.*)?$"
              [(ngModel)]="product.videoUrl">
            <!-- <div *ngIf="videoUrl.errors?.required && userForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
              Video Url required.
            </div> -->
            <div *ngIf="videoUrl.errors?.pattern && userForm.submitted && !isValidFormSubmitted" [ngClass]="'error'">
              Please give proper url!
            </div>
          </div>

          <div class="form-group" [hidden]="product.isYoutube !== 1">
            <label for="exampleInputFile">Upload Video<span class="astric">*</span>(Accept only .mp4)</label>
            <input type="file" name="documentName" [(ngModel)]="file" (change)="videoUpload($event)" placeholder="Upload file" accept=".mp4"
              id="name" />
          </div>

          <div class="form-group">
            <label for="exampleInputFile">Document<span class="astric">*</span>(Accept only .pdf,.doc,.docx)</label>
            <input type="file" name="documentName" [(ngModel)]="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx"
              id="name" />
            <a href="{{documentPath}}/{{product.documentName}}" target="_blank">Read Document</a>
          </div>

          <div class="form-group">
            <label for="exampleInputFile">3D File<span class="astric">*</span>(Accept only .obj)</label>
            <input type="file" name="documentName" [(ngModel)]="file" (change)="threeDChange($event)" placeholder="Upload file" accept=".obj"
              id="name" />
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <a class="btn btn-default" routerLink="/product">Cancel</a>
          <button class="btn btn-primary" type="submit" [disabled]="!product.productName||!product.category.id||!product.image||!product.documentName">{{this.buttonTitle}}</button>
        </div>
      </form>
    </div>
    <div *ngIf="showLoader" class="fa fa-spinner fa-spin" style="font-size:50px;text-align: center;
        position: absolute;top: 50%;left: 50%;"></div>
  </section>
  <!-- /.row (main row) -->
</div>