/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../node_modules/admin-lte/dist/css/AdminLTE.css";
@import "../node_modules/admin-lte/dist/css/skins/skin-blue.css";
.skin-blue .wrapper, .skin-blue, .skin-blue .left-side {
    background-color: #fff;
}
.has-error{
    color: red;
}

/* GENERAL STYLES AND CLASSES 
--------------------------------------------------------------------- */
html, body, .wrapper{
    height: 100% !important;
}
img {
    max-width: 100%;
}
body {
    padding: 0px;
    margin: 0px;
}
body ng-component {
    display: block;
}

/* HEADER STYLES
--------------------------------------------------------------------- */
header {
}

.bg-white {
    background: #ffffff;
}

/* MAIN STYLES
--------------------------------------------------------------------- */

    main{
       padding: 0 20px;
    min-height: 300px; 
    }
    main .products-table {
         margin-top: 20px;
    }
    main .products-table .delete-column{
        width: 60px;
    }
    main .products-table .delete-column .view-details{
         width: 60px;
    }
    /* side form */
 
    .view-side-form .side-form{
        background: #f1f1f1;
        position: absolute;
            z-index: 100;
            top: 0;
            right: 0;
            width: 40%;
            height: 100%;
            overflow: auto;
            padding: 20px;
            border-left: 1px solid #e0e0e0;
            padding-top: 70px;
    }



.overlay-side { position: fixed; right: -250px; top: 0; width: 250px; height: 100%; border-left: 1px solid #ddd; }
.overlay-side.active { right: 250px; }

.side-form{
        position: absolute;
         z-index: 100;
         top: 0;
         right: 0;
         width: 80%;
         height: 100%;
         overflow: auto;
         background: #fff;
         padding: 20px;
         border-left: 1px solid #e0e0e0
}
.btn-bs-file{
    position:relative;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}

.profile-user-img {     
    height: 100px;
    width: 100px;
 }
 .mr10 { margin-right: 10px; }

 
/* Globle STYLES
--------------------------------------------------------------------- */
.login-page .wrapper{
    background-color: whitesmoke;

    /* background-image: url('assets/images/bg.jpg'); */
}
.skin-blue .main-sidebar, .skin-blue .left-side{
    background-color:#ffffff; 
    border: 1px solid #ddd;

}
.skin-blue .main-header .navbar {
    background-color:#ffffff; 
    border: 1px solid #ddd;
}
.skin-blue .main-header .navbar .nav > li > a:hover, .skin-blue .main-header .navbar .nav > li > a:active, .skin-blue .main-header .navbar .nav > li > a:focus, .skin-blue .main-header .navbar .nav .open > a, .skin-blue .main-header .navbar .nav .open > a:hover, .skin-blue .main-header .navbar .nav .open > a:focus, .skin-blue .main-header .navbar .nav > .active > a {
    background: rgba(0, 0, 0, 0.1);
    color: #0c0b0b;
}
.skin-blue .main-header .logo{
    background-color:white; 
    border: 1px solid #ddd;
   
}
.skin-blue .main-header .navbar .sidebar-toggle {
    color: black;
}
.btn-primary {
   background-color: #1baed6;
   border-color: #1baed6;
}
.skin-blue .main-header li.user-header{
    background-color:white;
    border: 1px solid #ddd;
}
.skin-blue .main-header .navbar .nav > li > a {
    color: black;
}
.skin-blue .sidebar a{
    color: black;
}
.skin-blue .sidebar-menu > li> a{
    color: gray;
    background: white;
}

.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a,
 .skin-blue .sidebar-menu > li.menu-open > a{
   color: black;
   background: whitesmoke;
}
.skin-blue .sidebar-menu > li.active > a {
    border-left-color: black;
}
.content-header > .breadcrumb {
    float: right;
    background: transparent;
    margin-top: -17px;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
}
.delete-confirm-question{
    width: 200px;
    right: 0;
   }
   .delete-confirm-question span {
       display: block;
   }
   .fa{
    color: black;
    font-size: 24px;
   }

   .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
    table-layout: auto;
}
bootstrap-growl{
    position:absolute;
    right:8px;
    top:8px;
    z-index:10;
  }
  .loader {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    /* border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite; */
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media (max-width: 991px){
  .content-header>.breadcrumb {
      position: relative;
      margin-top: 5px;
      top: 0;
      right: 0;
      float: none;
      background: #d2d6de;
      padding-left: 10px;
  }
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    vertical-align: middle;
    margin-bottom: 0;
  }

  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .action-btn {
      text-align: center;
  }
  .action-btn .btn {
    vertical-align: middle;
    margin: 0 2px;
  }
  .action-btn .btn .fa { 
      color: #ffffff;
      font-size: 16px;
  }

  .lables .col-sm-2{
    width: 12%;
  }
  .loader-div{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
  }
  .loader-div .fa-spin{
    font-size:50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
  }
  .radio-align:first-of-type{
      margin-left: 10px;
  }
  .radio-align input{
      position: relative;
      top: 1px;
  }